---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'What technologies do you teach in the courses?',
			answer: `We teach frontend development with Typescript and Angular, backend development with Spring Boot and Axon Framework, and DevOps that would help you build and deploy your product.`,
		},
		{
			question: 'Will I be able to build a real product after completing the course?',
			answer: `Yes, the course is designed to give you the skills and knowledge you need to build a real product, whether it's a simple web application or a more complex web-based product or startup.`,
		},
		{
			question: "How long does the course take to complete?",
			answer: `The length of the course will depend on your prior knowledge and how much time you can dedicate to studying. However, most students complete the course within a few months.`,
		},
	],
	[
		{
			question: "Do I need to have any specific equipment or software to take the course?",
			answer: `You'll need a computer with an internet connection and a modern web browser. You'll also need to install some software and tools, which we'll provide instructions for in the course.`,
		},
		{
			question: 'Is this course suitable for beginners?',
			answer: `Yes, our courses are designed for students with a wide range of skill levels, including those who are new to programming.

			Personalized content packages will be available in the future.`,
		},
		{
			question: 'Do you offer any support or assistance during the course?',
			answer: `Yes, we offer live Q&A sessions for all participants and have a team of experienced instructors who are available to answer your questions and provide support throughout the course. We also have a community forum where you can connect with other students and share your progress. In the future, we'll be offering a premium support package for those who want even more personalized assistance.`,
		},
	],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Frequently Asked Questions
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
