---
import { Image } from '@astrojs/image/components';
---

<a href="/">
	<Image class="inline" src={import('~/assets/images/small-black-logo.png')} width={64} height={64} alt="Website logo" />

	<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
		Agreent DEV</span
	>
</a>
