---
import logoSvg from '~/assets/images/small-logo.svg'
---

<a href="/">
	<img class="inline text-black" src={logoSvg} width={64} height={64} alt="Website logo" />

	<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
		Agreent DEV</span
	>
</a>
